<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStatusBarStyle</key>
	<string>default</string>
	<key>ChangeThemeCell</key>
	<dict>
		<key>buttonBackgroundColor</key>
		<string>#007aff</string>
		<key>buttonTitleColorHighlighted</key>
		<string>#ffffff</string>
		<key>buttonTitleColorNormal</key>
		<string>#ffffff</string>
	</dict>
	<key>SwitchNightCell</key>
	<dict>
		<key>iconImage</key>
		<string>icon_night_light</string>
	</dict>
	<key>SelectThemeCell</key>
	<dict>
		<key>iconImage</key>
		<string>icon_theme_light</string>
	</dict>
	<key>ListViewController</key>
	<dict>
		<key>separatorColor</key>
		<string>#ffffff</string>
	</dict>
	<key>Global</key>
	<dict>
		<key>selectionBackgroundColor</key>
		<string>#eeeeee</string>
		<key>toolbarStyle</key>
		<string>default</string>
		<key>keyboardStyle</key>
		<string>light</string>
		<key>placeholderColor</key>
		<string>#ceced2</string>
		<key>barTintColor</key>
		<string>#ffffff</string>
		<key>barTextColor</key>
		<string>#007AFF</string>
		<key>textColor</key>
		<string>#111111</string>
		<key>backgroundColor</key>
		<string>#EFEFF4</string>
	</dict>
	<key>Pill</key>
	<dict>
		<key>backgroundColor</key>
		<string>#EFEFF4</string>
		<key>textColor</key>
		<string>#111111</string>
	</dict>
</dict>
</plist>
